<div class="page">
  <div class="page-header">
    <h1>Administration</h1>
    <span class="spacer"></span>
  </div>

  <div class="tab-bar">
    @for (t of tabs; track t.id) {
      <button class="tab" [class.active]="tab() === t.id" (click)="tab.set(t.id)">
        <mat-icon>{{ t.icon }}</mat-icon>{{ t.label }}
      </button>
    }
  </div>

  <div class="tab-content">
    @switch (tab()) {
      @case ('connectors') { <bl-admin-connectors /> }
      @case ('config') { <bl-admin-config /> }
      @case ('logs') { <bl-admin-logs /> }
    }
  </div>
</div>
